
/*************** SCROLLBAR BASE CSS ***************/
 
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.scroll-element.scroll-x {
    display: none !important;
}
 
 
 
 
/*************** SCROLLBAR MAC OS X ***************/
 
.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 3000;
}
 
.scrollbar-macosx > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-macosx > .scroll-element .scroll-element_track { display: none; }
.scrollbar-macosx > .scroll-element .scroll-bar {
    /*background-color: #6C6E71;*/
    background-color: #1a56b3;
    display: block;
 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
 
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
 
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
 
 
.scrollbar-macosx > .scroll-element.scroll-x {
    bottom: 0px;
    height: 0px;
    left: 0;
    min-width: 100%;
    overflow: visible;
    width: 100%;
}
 
.scrollbar-macosx > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 0px;
    top: 0;
    width: 0px;
}
 
/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar { height: 7px; min-width: 10px; top: -9px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar { left: -9px; min-height: 10px; width: 7px; }
 
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer { left: 2px; }
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size { left: -4px; }
 
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer { top: 2px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size { top: -4px; }
 
/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }


.sidebar, .dashboard_fixed_right {
  position: fixed!important;
}
.dashboard_check_list {
  padding-right: 15px!important;
  padding-bottom: 15px!important;
}


.active_domain_fon {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 45, 65, 0.3);
    z-index: -3000;
    opacity: 0;
}
.c-active_domain_block {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -600px;
    width: 600px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3000;
    padding: 30px 50px;
    transition: all 0.5s ease-in-out;
}
.active_domain_name {
    color: #646464;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 30px;
}
.active_domain_title {
    color: #5C68C9;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    margin-bottom: 40px;
}
.active_domain_plan {
    position: relative;
}
.active_domain_plan .active_domain_plan_text {
    color: #808080;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}
.active_domain_plan_item {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(270deg, #F6F9FD 0%, #F6F9FD 100%);
    background: -o-linear-gradient(270deg, #F6F9FD 0%, #F6F9FD 100%);
    background: -moz-linear-gradient(270deg, #F6F9FD 0%, #F6F9FD 100%);
    background: -webkit-linear-gradient(270deg, #F6F9FD 0%, #F6F9FD 100%);
    background: -ms-linear-gradient(270deg, #F6F9FD 0%, #F6F9FD 100%);
    border: 1px solid #EDF1F6;
    padding: 0 25px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.active_domain_plan_item p {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}
.active_domain_plan_item .plan_name {
    color: #646464;
    font-size: 18px;
    font-weight: 700;
    width: 85px;
    margin-right: 30px;
    transition: all 0.1s ease-in-out;
}
.active_domain_plan_item .plan_desc {
    color: #A5A5A5;
    font-size: 16px;
    width: 225px;
    margin-right: 40px;
    transition: all 0.1s ease-in-out;
}
.active_domain_plan_item .plan_cost {
    color: #3B75FF;
    font-size: 18px;
    font-weight: 700;
    width: 59px;
    text-align: right;
    transition: all 0.1s ease-in-out;
}
.active_domain_plan_item:hover, .active_domain_plan_item:active {
    background: linear-gradient(270deg, #4E9EF4 0%, #3D7CF2 100%);
    background: -o-linear-gradient(270deg, #4E9EF4 0%, #3D7CF2 100%);
    background: -ms-linear-gradient(270deg, #4E9EF4 0%, #3D7CF2 100%);
    background: -webkit-linear-gradient(270deg, #4E9EF4 0%, #3D7CF2 100%);
    background: -moz-linear-gradient(270deg, #4E9EF4 0%, #3D7CF2 100%);
}
.active_domain_plan_item:hover .plan_name, .active_domain_plan_item:active .plan_name {
    color: #fff;
}
.active_domain_plan_item:hover .plan_desc, .active_domain_plan_item:active .plan_desc {
    color: #fff;
}
.active_domain_plan_item:hover .plan_cost, .active_domain_plan_item:active .plan_desc {
    color: #fff;
}
.active_domain_plan_item.active {
    background: linear-gradient(270deg, #4E9EF4 0%, #3D7CF2 100%);
    background: -o-linear-gradient(270deg, #4E9EF4 0%, #3D7CF2 100%);
    background: -ms-linear-gradient(270deg, #4E9EF4 0%, #3D7CF2 100%);
    background: -webkit-linear-gradient(270deg, #4E9EF4 0%, #3D7CF2 100%);
    background: -moz-linear-gradient(270deg, #4E9EF4 0%, #3D7CF2 100%);
    display: block!important;
}
.active_domain_plan_item.active .plan_name, .active_domain_plan_item.active .plan_desc, .active_domain_plan_item.active .plan_cost {
    color: #fff;
}
.active_domain_payment {
    margin-top: 30px;
    display: none;
}
.active_domain_payment_text {
    color: #808080;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}
.active_domain_payment_item {
    display: inline-block;
    vertical-align: top;
    width: 155px;
    height: 100px;
    background-color: #F6F9FD;
    border: 2px solid #EDF1F6;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.active_domain_payment_item:not(:last-child) {
    margin-right: 10px;
}
.payment_balance {
    color: #646464;
    font-size: 18px;
    font-weight: 700;
    line-height: 98px;
}
.payment_paypal {
    width: 110px;
    height: 98px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../img/paypal2.svg);
    margin: auto;
}
.payment_visa {
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 98px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../img/visa.svg);
    margin-right: 15px;
}
.payment_mc {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 98px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../img/mc.svg);
}
.active_domain_payment_item.active {
    border-color: rgba(59, 117, 255, 0.4);
}
.active_domain_payment_item:hover {
    border-color: rgba(59, 117, 255, 0.4);
}
.active_domain_link {
    margin-top: 40px;
    display: none;
}
.active_domain_link a {
    display: block;
    margin-left: auto;
    width: 140px;
    height: 40px;
    background-color: #32BA7C;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease-in;
}
.active_domain_link a span {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}
.active_domain_link a span:last-child {
    width: 10px;
    height: 10px;
    background-image: url(../img/arrow_next.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}
.active_domain_link a:hover, .active_domain_link a:active {
    background-color: #34C382;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
}
.change_active_domain_plan {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.change_active_domain_plan p {
    color: #A5A5A5;
    font-size: 13px;
    line-height: 19px;
    font-weight: 600;
    vertical-align: middle;
    transition: all 0.2s;
    cursor: pointer;
    display: inline-block;
}
.change_active_domain_plan p span {
    width: 15px;
    height: 13px;
    display: inline-block;
    background-image: url(../img/restore.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
    vertical-align: middle;
}
.change_active_domain_plan p:hover, .change_active_domain_plan p:active {
    color: #646464;
}
.change_active_domain_plan p:hover span, .change_active_domain_plan p:active span {
    background-image: url(../img/restore_h.svg); 
}
.active_domain_block.show_active_domain .active_domain_fon {
    opacity: 1;
    z-index: 3000;
}
.active_domain_block.show_active_domain .c-active_domain_block {
    right: 0;
}